<div class="container">
  <div class="doc-header">
    <% include ../_includes/nav.ejs %>
  </div>
  <br />
  <div class="doc-main">
   <div class="row" style="">
    <h1>Crosswalk Blog</h1><br>
    <ul class="article-list">
    </ul>
   </div>
  </div>
</div>
